.slick-arrow{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: "20%";
}
.slick-prev{
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    border-radius: 40%; /* Make the buttons circular */
    background-color: #1976d2; /* Button background color */
    
}
.slick-next {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  border-radius: 40%; /* Make the buttons circular */
  background-color: #1976d2; /* Button background color */
}
.slick-track>div{
    display: flex;
    justify-content:center;
    align-items:center;
}
.wrapper{
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(400px,auto);
    
    

}
.item1{
    background-color: red;
    grid-column: 1 /2;
    grid-row: 1;
    text-align: center;
    padding: "2%";
}
.item2{
    grid-column: 2 / 3;
    grid-row: 1;
    text-align: center;
    background-color:yellow;
    padding: "2%";
}
.item3{
    grid-column: 3/5;
    grid-row: 1/3;
    background-color:greenyellow;
    padding: "2%";
}
.item4{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    background-color: blue;
    padding: "2%";
}
.item5{
    grid-column: 2;
    grid-row: 2/3;
    text-align: center;
    background-color: blueviolet;
    padding: "2%";
}
.item6{
    grid-column:1/5;
    grid-row: 3/5;
    background-color:rgb(254, 254, 254) ;
    padding: "2%";
    
}
.firstContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
}
.items{
    max-width: "250px";
}
.slick-slide>div{
    margin: 0 10px;
}
